/*Layout rules divide the page into sections. Layouts hold one or more modules together.*/
//Header, footer, containers, navbars, breadcrumbs.


body {

    /*Grid Layout*/
    display: grid;
    grid-template-areas:
        "header"
        "body"
        "footer"
    ;
}


/************Navegación************/

/*Header*/
.navbar-light {
   
    /*Grid Layout*/
    grid-area: header;

    .nav-item {
        margin-left: 1em;
        transition: all ease-in-out .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*Footer*/

footer {
    width: 100%;
    margin-top: 3em;
    position: relative;

    /*Grid Layout*/
    grid-area: footer;

    .footer {
        &__top {
            min-height: 5em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            &__link,
            &__link--highlighted {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    height: 3em;

                    img {
                        height: 3em;
                    }
                }
            }

            &__link--highlighted {
                transition: all ease-in-out 1s;

                &:hover {
                    transform: rotate(360deg);
                }
            }
        }

        &__bottom {
            min-height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    p {
        text-align: center;
        margin-left: 1em;
    }

}

